<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>
      <handlers>
        <add verb="*" path="providers" name="ProviderHandler" type="Argo.Web.Configuration.ProviderHandler" />
      </handlers>
      <staticContent>
        <mimeMap fileExtension=".json" mimeType="text/html" />
        <mimeMap fileExtension=".owl" mimeType="text/html" />
      </staticContent>
    </system.webServer>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="DojoThemeTester.Ajax.Service1AspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="DojoThemeTester.Ajax.Service1">
                <endpoint address="" behaviorConfiguration="DojoThemeTester.Ajax.Service1AspNetAjaxBehavior"
                    binding="webHttpBinding" contract="DojoThemeTester.Ajax.Service1" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
